/*body {
  height: 100vh;
  overflow-y: hidden;
}*/

.jumbotron {
  padding-top: 20px;
  margin-top: 60px;
  margin-bottom: 0px;
}

#schedContain {
  margin-top: 60px;
}

#mainRow {
  margin-top: 30px;
}

#lastfmUser {
  display: inline-block;
  width: 20%;
}

#festivalDiv {
  display: inline-block;
  width: 50%;
}

#festivalDiv > * {
  width: 100%  ;
}

#makeSchedule {
  width: 20%;
}

.img {
    position: relative;
    height: 80vh;
    overflow: hidden;
}
.img img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.tt-hint {
  color: #999
}
.tt-menu {
  width: 150%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}
.tt-suggestion p {
  margin: 0;
}

.modal-dialog {
    z-index: 1100;
}

