{{define "content"}}

<div class="jumbotron">
<div class="container">
	<div class="row">
		<h1>Let's plan your festival!</h1>		

		<div id="prefetch">
		  <input class="typeahead" type="text" placeholder="What's it called?">
		</div>

		<script type="text/javascript">
	      	var festivals = new Bloodhound({
			  datumTokenizer: Bloodhound.tokenizers.whitespace,
			  queryTokenizer: Bloodhound.tokenizers.whitespace,
			  prefetch: '/data/festivalNames.json'
			});

			$('#prefetch .typeahead').typeahead(null, {
			  name: 'festivals',
			  source: festivals
			});
		</script>
	</div>
</div>
</div>

<div class="container-fluid">
	<div class="row img">
		<img src="/media/festival.jpg" class="img-responsive">
	</row>
</div>

{{end}}
