{{define "content"}}

<div class="jumbotron">
<div class="container">
	<div class="row">
		<h1>Let's plan your festival!</h1>		

		<div id="mainRow">
			<input id="lastfmUser" type="text" class="form-control" placeholder="Last.fm username">
			<div id="festivalDiv">
				<input id="festivalInput" class="typeahead form-control" type="text" placeholder="What's the festival name?">	
			</div>
			<button id="makeSchedule" class="btn btn-primary">
					Make my schedule!
			</button>
		</div>

		<script type="text/javascript" src="jquery/custom.js"></script>
	</div>
</div>
</div>

<div class="container-fluid">
	<div class="row img">
		<img src="/media/festival.jpg" class="img-responsive">
	</row>
</div>

{{end}}
