{{define "content"}}

<div class="container" id="schedContain">
	<div class="row">
		<h1>Here's your schedule!</h1>
		{{range .}}
			<h2>{{.Date}}</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Start</th>
						<th>End</th>
						<th>Artist</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>
					{{range .Events}}
					<tr>
					{{if .Scheduled}} <tr class="success"> {{else}} <tr> {{end}}
						<td>{{.FormatStartTime}}</td>
						<td>{{.FormatEndTime}}</td>
						<td>{{.FormatEventName}}</td>
						<td>{{.FormatLocationName}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		{{end}}
	</div>
</div>

{{end}}
